<footer class="footer">
  <div class="wrapper">
    <small class="copyright">
      Copyright &copy; 2009 - {{ 'now' | date: "%Y" }} ruby.mk
    </small>

    <nav>
      <ul>
        <li><a href="/feed.xml">RSS</a></li>
        <li><a href="https://twitter.com/mk_rug" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/mkrug" target="_blank">Github</a></li>
        <li><a href="http://groups.google.com/group/mk-ruby-users-group/" target="_blank">Mailing List</a></li>
      </ul>
    </nav>
</footer>
